<!-- animation -->
<div id='feature-container' class='container-fluid'>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0 drop-animation-1">
      <div class="cloud-container-parent">
        <div class="hanger-string hanger-string-1"></div>
        <div class="hanger-string hanger-string-2"></div>
        <div class="cloud-container cloud-container-1">
          <div class="cloud-wrapper">
             <svg class="cloud-hanger-img cloud-hanger-1" x="0px" y="0px" viewBox="0 0 428.5 315.3"
                  xml:space="preserve" preserveAspectRatio="none">
               <path class="st0" fill="#FFF" d="M207,315.3c-18.2,0-35.7-7.8-47.8-21.5l-2.5-2.8l-3.3,1.7c-10,5.3-20.9,7.9-32.3,7.9
                 c-32.6,0-61.1-23.1-67.9-54.9l-0.6-2.8l-2.8-0.8C20.5,233.9,0,206.8,0,176.3c0-27.3,16.2-52,41.3-63l3.6-1.6l-0.8-3.8
                 c-0.9-4.3-1.3-8.7-1.3-13.2c0-36.1,29.4-65.5,65.5-65.5c8.7,0,17.2,1.7,25.2,5l3.8,1.6l2.1-3.5C151.8,12.1,173.4,0,197.1,0
                 c22.3,0,43.2,11,55.9,29.4l2.8,4l4-2.8c10.8-7.7,23.4-11.8,36.7-11.8c16.5,0,32.1,6.3,44,17.9c11.8,11.5,18.6,26.9,19.1,43.3
                 l0.1,3.7l3.6,0.8c8.5,2,16,6.5,21.8,13l0.8,0.9l1.1,0.4c24.9,9.4,41.6,33.6,41.6,60.2c0,31.9-23.8,59.3-55.4,63.6l-4.3,0.6l0.2,4.4
                 c0,0.8,0.1,1.7,0.1,2.5c0,33-26.9,59.9-59.9,59.9c-13.6,0-26.4-4.4-37-12.8l-4.7-3.7l-2.6,5.4C254.1,301,231.5,315.3,207,315.3z"/>
             </svg>
            <p class="cloud-tag">Angular</p>
          </div>
        </div>
        <div class="cloud-container cloud-container-2">
          <div class="cloud-wrapper">
            <svg class="cloud-hanger-img cloud-hanger-2" x="0px" y="0px" viewBox="0 0 414.8 267.8"
               xml:space="preserve" preserveAspectRatio="none">
            <path class="st0" fill="#FFFFFF" d="M216.2,267.8c-26.3,0-50.3-16.6-59.5-41.3l-2.6-7l-5.3,5.3c-9.5,9.4-22,14.7-35.4,14.7
              c-27.3,0-49.3-21.4-50-48.6l-0.1-4.8l-5.2,0.2c-0.5,0-1,0-1.5,0C25.4,186.2,0,160.9,0,129.7c0-31.2,25.4-56.5,56.5-56.5
              c8.5,0,16.7,1.8,24.3,5.5l7.5,3.6l-0.7-8.3c-0.1-1.5-0.2-2.9-0.2-4.2c0-27.9,22.7-50.6,50.6-50.6c10.2,0,20,3,28.4,8.7l3.9,2.7
              l2.7-3.9C184.9,10,204.1,0,224.4,0c23.7,0,45.1,13.2,55.8,34.4l1.9,3.7l4-1.4c4.5-1.6,9.2-2.3,14-2.3c21.4,0,39.7,16,42.5,37.2
              l0.6,4.9l4.9-0.7c2.9-0.5,5.9-0.7,8.9-0.7c32,0,58,26,58,58c0,32-26,58-58,58c-0.2,0-0.3,0-0.5,0l-0.5,0l-4.7-0.1l-0.2,4.7
              c-1.4,34.1-29.2,60.8-63.4,60.8c-8.6,0-17-1.7-24.8-5l-2.8-1.2l-2.3,2C246.2,262.3,231.4,267.8,216.2,267.8z"/>
            </svg>
            <p class="cloud-tag">Bootstrap</p>
          </div>
        </div>
      </div>
    </div><!-- col end -->
    <div class="col-md-8 col-md-offset-2  col-lg-4 col-lg-offset-0  drop-animation-2">
      <div class="cloud-container-parent">
        <div class="hanger-string hanger-string-3"></div>
        <div class="hanger-string hanger-string-5"></div>
        <div class="cloud-container cloud-container-3">
          <div class="cloud-wrapper">
            <svg class="cloud-hanger-img cloud-hanger-3" viewBox="0 0 644.5 336.58" preserveAspectRatio="none">
              <path fill= "#fff"
              d="M571.67,111.49c39.09,4.14,72.83,11,72.83,50.35a78.38,78.38,0,0,1-.4,7.86c-3.06,37.43-33.56,54.41-70.95,56.83l-4.49.29v4.67a73.32,73.32,0,0,1-120.1,56.36l-5.17-4.29L441,289.83a72.85,72.85,0,0,1-67.74,46.75,71.81,71.81,0,0,1-52.38-22.43l-2.73-2.86-3.33,2.14a56.27,56.27,0,0,1-71.16-8.64l-3.49-3.67-3.48,3.69a81.13,81.13,0,0,1-59.57,25.73A82,82,0,0,1,98,269.67l-1.17-4.4-4.46.93a75.73,75.73,0,0,1-15.51,1.61c-41.44,0-86.14-45-75.16-75.16S46,161.34,46,161.34h0a65,65,0,0,1,74.54-94.92l3.91,1.14,1.76-3.68a67.12,67.12,0,0,1,60.25-38A66,66,0,0,1,228.4,40.71l4.42,3.57,2.78-5A77,77,0,0,1,356.19,21.56L358.75,24l3.11-1.73a70.09,70.09,0,0,1,101.3,41.47l1.91,6.5,5.5-4a64.1,64.1,0,0,1,101.1,45Z"
              />
            </svg>
            <p class="cloud-tag">Android <br>(java, cotlin <br>and xml)</p>
          </div>
        </div>
        <div class="hanger-string hanger-string-4"></div>
        <div class="cloud-container cloud-container-4">
          <div class="cloud-wrapper">
            <svg class="cloud-hanger-img cloud-hanger-4"  x="0px" y="0px" viewBox="0 0 228.9 174.9"
               xml:space="preserve" preserveAspectRatio="none">
            <path fill="#FFFFFF" d="M143.2,174.9c-10.8,0-20.9-4.4-28.3-12.3l-3.5-3.7l-3.5,3.7c-7.2,7.7-17,11.9-27.5,11.9
              c-18.3,0-33.9-13-37.1-31l-0.6-3.6l-3.6-0.4c-22.2-2.2-39-20.8-39-43.2c0-20.2,14.3-38,34-42.4l4.1-0.9L37.8,49
              c-0.1-1.3-0.2-2.5-0.2-3.6C37.6,20.4,58,0,83,0c14.7,0,28.6,7.2,37.1,19.3l2.9,4.1l4-3.1c6.8-5.3,15-8.1,23.7-8.1
              c17.5,0,32.9,11.8,37.4,28.6l0.7,2.7l2.8,0.7c22,5.3,37.3,24.8,37.3,47.4c0,25-18.7,45.9-43.6,48.5l-3.5,0.4l-0.7,3.4
              C177.4,161.9,161.5,174.9,143.2,174.9z"/>
            </svg>
            <p class="cloud-tag">CSS</p>
          </div>
        </div>
        <div class="hanger-string hanger-string-5"></div>
        <div class="cloud-container cloud-container-5">
          <div class="cloud-wrapper">
            <svg class="cloud-hanger-img cloud-hanger-5" x="0px" y="0px" viewBox="0 0 249.5 187.8"
               xml:space="preserve" preserveAspectRatio="none">
            <path fill="#FFFFFF" d="M157.1,187.8c-12.5,0-24.2-4.9-33-13.8l-3-3l-3.4,2.6c-7.4,5.8-16.3,8.8-25.7,8.8c-20.7,0-38.1-14.9-41.4-35.3
              l-0.6-3.8l-3.8-0.3C20.3,141.3,0,119.6,0,93.6c0-25,18.7-46.2,43.5-49.2l3.6-0.4l0.6-3.5C51.5,17,71.6,0,95.4,0
              c10.1,0,19.8,3.1,28,8.9l2.4,1.7l2.6-1.4c6.3-3.4,13.5-5.2,20.7-5.2c22.4,0,41.4,17.5,43.3,39.8l0.4,4.8l4.8-0.4
              c1.6-0.1,3-0.2,4.4-0.2c26.1,0,47.4,21.3,47.4,47.4c0,24.2-18.1,44.4-42.1,47.1l-3.8,0.4l-0.4,3.8
              C200.5,170.1,180.7,187.8,157.1,187.8z"/>
            </svg>
            <p class="cloud-tag">javaScript</p>
          </div>
        </div>
      </div>
    </div><!-- col end -->
    <div class="col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-0  drop-animation-3">
      <div class="cloud-container-parent">
        <div class="hanger-string hanger-string-6"></div>
        <div class="hanger-string hanger-string-7"></div>
        <div class="cloud-container cloud-container-6">
          <div class="cloud-wrapper">
            <svg class="cloud-hanger-img cloud-hanger-6" x="0px" y="0px" viewBox="0 0 302.6 167.9"
               xml:space="preserve" preserveAspectRatio="none">
            <path fill="#FFFFFF" d="M46.1,63.4c2.1,0,3.8,0.4,5.5,0.6c6.8-27.2,31-47.5,60.3-47.5c9.1,0,18,2.1,25.8,5.9C148.2,8.9,164.4,0,182.9,0
              C208,0,229.1,16.3,237,38.5c2.7-0.4,5.2-0.7,8.1-0.7c31.8,0,57.5,25.7,57.5,57.3c0,32-25.7,57.7-57.5,57.7c-6.6,0-12.8-1.3-18.7-3.3
              c-8.3,11.2-21.7,18.4-36.7,18.4c-15.6,0-29.4-7.9-37.7-19.8c-8.4,11.9-22.1,19.8-37.7,19.8c-16.9,0-31.5-9-39.4-22.4
              c-8,6.4-17.8,10.2-28.8,10.2c-25.5,0-46.1-20.6-46.1-46C0,84.1,20.6,63.4,46.1,63.4z"/>
            </svg>

            <p class="cloud-tag">Art</p>
          </div>
        </div>
        <div class="cloud-container cloud-container-7">
          <div class="cloud-wrapper">
            <svg  class="cloud-hanger-img cloud-hanger-7" x="0px" y="0px" viewBox="0 0 399.6 294.1"
             xml:space="preserve" preserveAspectRatio="none">
              <path fill="#FFFFFF" d="M193.4,294.1c-26.7,0-51.2-15.7-62.2-40.1l-1.6-3.6l-3.9,0.9c-3.3,0.8-6.7,1.2-10.2,1.2
                c-17.8,0-33.5-10.8-40-27.4l-1.4-3.5l-3.7,0.5c-2.8,0.4-5.4,0.5-7.9,0.5C28.1,222.6,0,194.6,0,160.1c0-19.8,9.1-38,24.9-50l2.6-2
                l-0.9-3.1c-1.4-5.1-2.1-10.4-2.1-15.7c0-32.3,26.3-58.5,58.5-58.5c15,0,29.3,5.7,40.2,16l6.3,5.9l1.7-8.5
                c4.6-22.6,24.8-39.1,47.9-39.1c14.1,0,27.5,6.1,36.8,16.7l3.6,4.1l3.6-4c12.5-14,30.5-22,49.2-22c35,0,64,27.4,66,62.3l0.2,3.7
                l3.7,0.7c13.5,2.7,25.3,11,32.4,22.9l0.5,0.8l0.7,0.6c15.2,11.6,23.9,29.1,23.9,48.1c0,31.8-24.8,58.3-56.5,60.4l-4.7,0.3l0.2,4.7
                c0,0.9,0.1,1.8,0.1,2.7c0,29.7-24.2,53.9-53.9,53.9c-8.6,0-16.8-2-24.4-5.8l-4.2-2.1l-2.2,4.2C242.1,280.1,218.9,294.1,193.4,294.1z
                "/>
            </svg>
            <p class="cloud-tag">Animation</p>
          </div>
        </div>
      </div>
    </div><!-- col end -->
  </div>
</div>





<!-- Header -->
<header class="masthead" >
    <div class="container">
      <div class="intro-text text-center">
        <div class="intro-lead-in">Welcome To Our Studio!</div>
        <div class="intro-heading text-uppercase ">It's Nice To Meet You</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" routerLink="/tab">Tell Me More</a>
      </div>
    </div>
  </header>

  <i class="fa fa-cloud" style="font-size:24px;"></i>
  <i class="fa fa-cloud" style="font-size:36px;"></i>
  <i class="fa fa-cloud" style="font-size:48px;color:red;"></i>
  <i class="fa fa-cloud" style="font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>


<div class="jumbotron" >
  <div class="container" *ngIf="products">
    <h3 class="text-center">
        {{ title }}!
    </h3><hr>
    <div class="row  text-uppercase h5">
      <div style="width: 10%" class="text-center">ID</div>
      <div class="tabletd">Name</div>
      <div class="tabletd">e_mail</div>
      <div class="tabletd">Number</div>
    </div>
    <hr>
      <!-- BIND ARRAY TO TABLE -->
    <div class="row" *ngFor="let Bird of products">
      <div style="width: 10%" class="text-center">{{Bird.id}}</div>
      <div class="tabletd">{{Bird.name}}</div>
      <div class="tabletd">{{Bird.email}}</div>
      <div class="tabletd">{{Bird.password}}</div>
    </div>
    <hr>
  </div>
</div>

<!-- import panel layout -->
<app-panel></app-panel>


<!--Alert box - Scroll event-->

<ng-template #content let-c="close" let-d="dismiss" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="200" [topOffset]="200" [ngStyle]="{'background-color': '#' + bgColor}">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{closeResult}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<div class="container">
  <div class="row ">
    <button class="btn btn-outline-primary  col-sm-6" (click)="OnClick();"> On</button>
    <button class="btn btn-outline-primary  col-sm-6" (click)="OffClick();">Off</button>
    <button class="btn btn-outline-primary  col-sm-6" (click)="openWindowCustomClass(content)">Modal with window custom class</button>
    <button class="btn btn-outline-primary  col-sm-6" (click)="openBackDropCustomClass(content)">Modal with backdrop custom class</button>
    <button class="btn btn-outline-primary col-sm-6" (click)="openSm(content)">Small modal</button>
    <button class="btn btn-outline-primary  col-sm-6" (click)="openSm(content)">Small modal</button>
    <button class="btn btn-outline-primary  col-sm-6" (click)="openLg(content)">Large modal</button>
    <button class="btn btn-outline-primary  col-sm-6" (click)="openVerticallyCentered(content)">Modal vertically centered</button>
    <button class="btn btn-outline-primary  col-sm-6" (click)="openSnackbar()">Open Snackbar</button>
    <!-- <button class="jQuery btn btn-outline-primary  col-sm-6" onclick="console.log('It Worked!!')" >jQuery Integration Test</button> -->
  </div>
  <br>
  <div class="row">
    Enter and punch -: &nbsp;<input  [(ngModel)]="username">
  </div>
  <div class="container">
        <p>{{username}}</p>
  </div>
 
</div>